# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore directories for data
out/
in/

# Ignore package lock file
package-lock.json

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db